.menuToggle {
    display: flex;
    flex-direction: row;
}

.menuToggle input {
    z-index: -1;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin-right: 120px;
}

.menuToggle>.menu>li>a {
    font-size: 15px;
    font-weight: 200;
    transition: all 0.2s;
    padding: 29px;
}

.menuToggle>.menu>li>a:hover {
    /* border: 0.1px rgb(207, 207, 196, 0.4) solid; */
    background-color: rgb(207, 207, 196, 0.4);
    padding: 29px;
    width: 100%;
    transition: all 0.2s;
}

@media only screen and (max-width:768px) {

    .menuToggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
        margin: 30px 0;
        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    .menuToggle input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
         * Just a quick hamburger
         */
    .menuToggle span {
        display: block;
        width: 20px;
        height: 1px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    .menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    .menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
         * Transform all the slices of hamburger
         * into a crossmark.
         */
    .menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
         * But let's hide the middle one.
         */
    .menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
         * Ohyeah and the last one should go the other direction
         */
    .menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
         * Make this absolute positioned
         * at the top left of the screen
         */
    .menu {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 130px;
        padding: 50px;
        text-align: center;

        background: #162b4d;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

        z-index: 1;
    }

    .menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    .menuToggle>.menu>li>a {
        color: white;
    }

    /*
         * And let's slide it in from the left
         */
    .menuToggle input:checked~ul {
        transform: none;
    }

}

@media screen and (max-width: 320px) {
    .menu {
        top: 115px;
    }
}